<mat-drawer-container class="box" hasBackdrop="true">
    <mat-drawer #drawer mode="over">
        <app-drawer></app-drawer>
    </mat-drawer>
    <mat-drawer-content>
        <div app-appbar class="header"></div>
        <div class="body row">
            <div class="sidebar col-xs-0 col-sm-2">
                3 of 3
              </div>
            <div class="content col-xs-12 col-sm-10">
                <p style="color: black;">this is the main</p>
            </div>
        </div>
       
    </mat-drawer-content>
</mat-drawer-container>
